@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "DM Sans", "Titan One" sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section_customer-review {
  padding: 30px 0;
}
@media (min-width: 768px) {
  .section_customer-review {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .section_customer-review {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .slider.slick-slider {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .slider.slick-slider {
    max-width: 968px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
}

.slider .slick-dots li {
  font-size: 0;
}

.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: none;
}
.slider .slick-dots button:hover, .slider .slick-dots button:focus {
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  position: relative;
  background-image: url("../images/customer_reviews/icon-home.svg");
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0;
}

.slider {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.slider__img {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .slider__img {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .slider__img {
    margin-bottom: 16px;
  }
}
.slider__wrap {
  position: relative;
  padding: 43px 50px 17px;
  background-color: #fafafa;
  margin-bottom: 36px;
  z-index: 1;
}
@media (min-width: 768px) {
  .slider__wrap {
    padding: 37px 6px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .slider__wrap {
    padding: 47px 73px;
    margin-bottom: 36px;
  }
}
.slider__wrap::before, .slider__wrap::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}
.slider__wrap::before {
  z-index: -1;
  top: 30px;
  left: 53px;
  width: 54px;
  height: 40px;
  background-image: url("../images/customer_reviews/icon-quotes.svg");
}
@media (min-width: 768px) {
  .slider__wrap::before {
    top: 20px;
    left: 6px;
    width: 61px;
    height: 40px;
  }
}
@media (min-width: 1200px) {
  .slider__wrap::before {
    top: 32px;
    left: 72px;
    width: 54px;
    height: 40px;
  }
}
.slider__wrap::after {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 34px;
  height: 4px;
  background-image: url("../images/customer_reviews/icon-ellipse-3x.svg");
}
@media (min-width: 768px) and (max-width: 1199px) {
  .slider__wrap::after {
    bottom: -8px;
  }
}
.slider__inner {
  padding: 0 12px 9px 15px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 29.6px, #e1e1e1 29.6px, #e1e1e1 30.6px);
}
@media (min-width: 768px) {
  .slider__inner {
    padding: 0px 49px 8px 45px;
  }
}
@media (min-width: 1200px) {
  .slider__inner {
    padding: 0px 35px 8px;
  }
}
.slider__meta {
  font-family: DM Sans, serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 30.6px;
  margin: 0;
}
@media (min-width: 768px) {
  .slider__meta {
    font-size: 14px;
    line-height: 2.1429;
    line-height: 30.24px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .slider__meta {
    font-size: 16px;
    line-height: 29.76px;
    letter-spacing: 0.04em;
  }
}
.slider__label {
  margin-bottom: 16px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 26.04px;
}
@media (min-width: 768px) {
  .slider__label {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 29.76px;
  }
}
@media (min-width: 1200px) {
  .slider__label {
    font-size: 20px;
    line-height: 37.2px;
  }
}

.footer {
  background-color: #fff5f6;
}
.footer__wrap {
  display: flex;
}
.footer__title {
  font-family: "Titan One";
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__title {
    width: 340px;
  }
}
.footer__text--pre-title {
  font-size: 18px;
  line-height: 1.1666666667;
  color: #ffa5ba;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__text--pre-title {
    font-size: 26px;
    line-height: 1.1538461538;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .footer__text--pre-title {
    font-size: 30px;
    line-height: 1.1333333333;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__text--pre-title {
    margin-bottom: 12px;
  }
}
.footer__text--title {
  font-size: 34px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media (min-width: 768px) {
  .footer__text--title {
    font-size: 58px;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
  }
}
.footer__social {
  display: flex;
}/*# sourceMappingURL=index.css.map */