$main-white-color: #ffffff;
$titan-title-big-color: #d41443;
$titan-title-small-color: #ffa5ba;
$bleak-text: #000000;
$grey-text: #907e82;

$lite-pink-bg-color: #ffb8ca;
$dark-pink-bg-color: #ffa5ba;
$about-bg-color: #fff5f6;
$second-card-bg-color: #f0d1a5;
$third-card-bg-color: #c2e297;
$bg-color-customer-reviews: #fafafa;

$btn-hover-color: #ecebeb;
$customer-reviews-underline-color: #e1e1e1;
$color-customer-reviews-dots: #d9d9d9;
