<!-- <section class="contacts"> -->
<div class="container">
    <h1 class="visually-hidden">contacts</h1>
    <ul class="contacts__card--list">
        <li class="contacts__card--item">
            <div class="contacts__card--title">
                CAFE
            </div>
            <div class="contacts__card--location">
                <h2 class="contacts__card--citi">Chicago</h2>
                <p class="contacts__card--description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            </div>
            <div class="contacts__card--shedule">
                <ul class="contacts__card--shedule-list">
                <li class="contacts__card--shedule-day">Monday - Friday</li> 
                <li class="contacts__card--shedule-time">06:00 AM - 10:00 PM</li>
                </ul>

                <ul class="contacts__card--shedule-list">
                    <li class="contacts__card--shedule-day">Saturday - Sunday</li>
                    <li class="contacts__card--shedule-time">08:00 AM - 16:00 PM</li>
                </ul>

            </div>
            <div class="contacts__card--contact">
                <ul class="contacts__card--contact-list">
                    <li> <a class="contacts__card--contact-tel" 
                        href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    </li>
                    <li><a class="contacts__card--contact-mail" 
                        href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>

            </div>
        </li>
        <li class="contacts__card--item">
            <div class="contacts__card--title contacts__card--second"> 
                FOOD TRUCK
            </div>
            <div class="contacts__card--location">
                <h2 class="contacts__card--citi">Los Angeles</h2>
                <p class="contacts__card--description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            </div>
            <div class="contacts__card--shedule">
                <ul class="contacts__card--shedule-list">
                    <li class="contacts__card--shedule-day">Monday - Friday</li>
                    <li class="contacts__card--shedule-time">06:00 AM - 10:00 PM</li>
                </ul>
            
                <ul class="contacts__card--shedule-list">
                    <li class="contacts__card--shedule-day">Saturday - Sunday</li>
                    <li class="contacts__card--shedule-time">08:00 AM - 16:00 PM</li>
                </ul>
            
            </div>
            <div class="contacts__card--contact">
                <ul class="contacts__card--contact-list">
                    <li> <a class="contacts__card--contact-tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    </li>
                    <li><a class="contacts__card--contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            
            </div>
        </li>
        <li class="contacts__card--item">
            <div class="contacts__card--title">  
                CAFE
            </div>
            <div class="contacts__card--location">
                <h2 class="contacts__card--citi">New York</h2>
                <p class="contacts__card--description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            </div>
            <div class="contacts__card--shedule">
                <ul class="contacts__card--shedule-list">
                    <li class="contacts__card--shedule-day">Monday - Friday</li>
                    <li class="contacts__card--shedule-time">06:00 AM - 10:00 PM</li>
                </ul>
            
                <ul class="contacts__card--shedule-list">
                    <li class="contacts__card--shedule-day">Saturday - Sunday</li>
                    <li class="contacts__card--shedule-time">08:00 AM - 16:00 PM</li>
                </ul>
            
            </div>
            <div class="contacts__card--contact">
                <ul class="contacts__card--contact-list">
                    <li> <a class="contacts__card--contact-tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    </li>
                    <li><a class="contacts__card--contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            
            </div>
        </li>

    </ul>
    <div class="contacts__button">
        <button type="button" class="contacts__button--location">Our Locations
        <svg class="contacts__button--icon">
            <use href="./images/icons.svg#contact-arrow"></use>
        </svg>
        </button>
        <button type="button" class="contacts__button--franchise">Franchise
        <svg class="contacts__button--icon color">
            <use href="./images/icons.svg#contact-arrow"></use>
        </svg>
        </button>  
    </div>

</div>

</section>   
  