<div class="container">
<h1 class="visually-hidden">contacts</h1>
    <ul class="contacts__card--list">
        <li class="contacts__card--item">
            <div class="contacts__card--title">
            CAFE
            </div>
            <div class="contacts__card--location">
                <h2>Chicago</h2>
                <P>Fusce ut velit laoreet, tempus arcu molestie vulputate</P>

            </div>
            <div class="contacts__card--shedule">

            </div>
            <div class="contacts__card--contact">

            </div>
        </li>
        <li class="contacts__card--item">
            <div class="contacts__card--title contacts__card--second">
            FOOD TRUCK
            </div>
            <div class="contacts__card--location">

            </div>
            <div class="contacts__card--shedule">

            </div>
            <div class="contacts__card--contact">  
            
            </div>
        </li>
        <li class="contacts__card--item">
            <div class="contacts__card--title">
            CAFE
            </div>
            <div class="contacts__card--location">  

            </div>
            <div class="contacts__card--shedule">

            </div>
            <div class="contacts__card--contact">

            </div>
            </li>

</ul>
<div class="contacts__button">
<button type="button" class="contacts__button--location">Our Locations
</button>
<button type="button" class="contacts__button--franchise">Franchise
</button>
</div>

</div> 
 