<section class="contacts__section" id="contact">
<div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts__card--list">
        <li class="contacts__card--item">
                <h3 class="contacts__card--title">CAFE</h3>
          
                <h4 class="contacts__card--citi">Chicago</h4>
                <p class="contacts__card--description contacts__card-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
                <p class="contacts__card--shedule-day"> Monday - Friday</p> 
                <p class="contacts__card--shedule-time"> 06:00 AM - 10:00 PM</p>
                   
                 <p class="contacts__card--shedule-day">Saturday - Sunday</p>
                 <p class="contacts__card--shedule-time contacts__card-border">08:00 AM - 16:00 PM</p>
                 <a class="contacts__card--contact-tel" 
                        href="tel:+61(0) 383 766 284">+61(0)383766284</a>
                <a class="contacts__card--contact-mail" 
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        
        <li class="contacts__card--item">
            <h3 class="contacts__card--title contacts__card--second"> 
                FOOD TRUCK
            </h3>
            <h4 class="contacts__card--citi">Los Angeles</h4>
            <p class="contacts__card--description contacts__card-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <p class="contacts__card--shedule-day"> Monday - Friday</p>
            <p class="contacts__card--shedule-time"> 06:00 AM - 10:00 PM</p>
            
            <p class="contacts__card--shedule-day">Saturday - Sunday</p>
            <p class="contacts__card--shedule-time contacts__card-border">08:00 AM - 16:00 PM</p>
            <a class="contacts__card--contact-tel" href="tel:+61(0) 383 766 284">+61(0)383766284</a>
            <a class="contacts__card--contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        <li class="contacts__card--item">
            <h3 class="contacts__card--title">    
                CAFE
            </h3>
            <h4 class="contacts__card--citi">New York</h4>
            <p class="contacts__card--description contacts__card-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <p class="contacts__card--shedule-day"> Monday - Friday</p>
            <p class="contacts__card--shedule-time"> 06:00 AM - 10:00 PM</p>
            
            <p class="contacts__card--shedule-day">Saturday - Sunday</p>
            <p class="contacts__card--shedule-time contacts__card-border">08:00 AM - 16:00 PM</p>
            <a class="contacts__card--contact-tel" href="tel:+61(0) 383 766 284">+61(0)383766284</a>
            <a class="contacts__card--contact-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>

    </ul>
    <div class="contacts__button">
        <button type="button" class="contacts__button--location openModalBtn" aria-label="open window our location" data-modal-open="location">Our Locations
        <svg class="contacts__button--icon">
            <use href="./images/contact-svg/contact.svg#contact-arrow"></use>
        </svg>
        </button>
        <button type="button" class="contacts__button--franchise">Franchise
        <svg class="contacts__button--icon color">
            <use href="./images/contact-svg/contact.svg#contact-arrow"></use>
        </svg>
        </button>  
    </div>

</div>
 

<div class="contact__backdrop is-hidden modal" data-modal="location">
    <div class="contact__modal container">
        <p class="contact__modal--text">вікно в стадії розробки</p> 
        <button class="contact__modal--close" type="button" aria-label="close window our location" data-modal-close="location">
            <svg width="22" height="12" aria-label="Закрытие окна">
                <use class="contact__modal--icon" href="./images/contact-svg/contact.svg#cross"></use>
            </svg>     

        </button> 
    </div>   
 
</div>  
</section>