<section class="section section_customer-review">
    <div class="container">
        <h2 class="section__title visually-hidden">Customer reviews</h2>
        <ul class="slider list">

            <li class="slider__item">
                <picture>
                    <source
                        srcset="./images/customer_reviews/customer_reviews_1@1x.webp 1x, ./images/customer_reviews/customer_reviews_1@2x.webp 2x"
                        type="image/webp" />
                    <source
                        srcset="./images/customer_reviews/customer_reviews_1@1x.jpg 1x, ./images/customer_reviews/customer_reviews_1@2x.jpg 2x"
                        type="image/jpeg" />
                    <img class="slider__img" src="./images/customer_reviews/customer_reviews_1@1x.jpg" alt="Emily Pratt"
                        width="85" aria-label="Photo  Emily Pratt">
                </picture>

                <div class="slider__wrap">
                    <div class="slider__inner">
                        <p class="slider__meta">Nullam viverra consectetuer. Quisque cursus et, porttitor
                            risus.
                            Aliquam
                            sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>

                <p class="slider__label">Emily, Los Angeles</p>

            </li>
            <li class="slider__item">
                <picture>
                    <source
                        srcset="./images/customer_reviews/customer_reviews_2@1x.webp 1x, ./images/customer_reviews/customer_reviews_2@2x.webp 2x"
                        type="image/webp" />
                    <source
                        srcset="./images/customer_reviews/customer_reviews_2@1x.jpg 1x, ./images/customer_reviews/customer_reviews_2@2x.jpg 2x"
                        type="image/jpeg" />
                    <img class="slider__img" src="./images/customer_reviews/customer_reviews_2@1x.jpg"
                        alt="Frederica Binotto" width="85" aria-label="Photo  Frederica Binotto">
                </picture>

                <div class="slider__wrap">
                    <div class="slider__inner">
                        <p class="slider__meta">Nullam viverra consectetuer. Quisque cursus et, porttitor
                            risus.
                            Aliquam
                            sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <p class="slider__label">Frederica, Florencia</p>

            </li>

            <li class="slider__item">
                <picture>
                    <source
                        srcset="./images/customer_reviews/customer_reviews_3@1x.webp 1x, ./images/customer_reviews/customer_reviews_3@2x.webp 2x"
                        type="image/webp" />
                    <source
                        srcset="./images/customer_reviews/customer_reviews_3@1x.jpg 1x, ./images/customer_reviews/customer_reviews_3@2x.jpg 2x"
                        type="image/jpeg" />
                    <img class="slider__img" src="./images/customer_reviews/customer_reviews_3@1x.jpg" alt="Natali Pike"
                        width="85" aria-label="Photo npmNatali Pike">
                </picture>

                <div class="slider__wrap">
                    <div class="slider__inner">

                        <p class="slider__meta">Nullam viverra consectetuer. Quisque cursus et, porttitor
                            risus.
                            Aliquam
                            sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <p class="slider__label">Natali, Bali</p>

            </li>
        </ul>

    </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./js/script_slider.js"></script>