<section class="gallery">
  <div class="gallery__img">
    <a class="gallery__link" href="">
      <div class="gallery__img1-pos">
        <picture class="gallery__img-1">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic1.png   1x,
              /src/images/gallery/desktop/desktop_pic1@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic1.jpg   1x,
              /src/images/gallery/tablet/tablet_pic1@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic1.jpg   1x,
              /src/images/gallery/mobile/mobile_pic1@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic1.png"
            alt="pistachio ice cream"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img2-pos">
        <picture class="gallery__img-2">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic2.png   1x,
              /src/images/gallery/desktop/desktop_pic2@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic2.jpg   1x,
              /src/images/gallery/tablet/tablet_pic2@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic2.jpg   1x,
              /src/images/gallery/mobile/mobile_pic2@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic2.png"
            alt="two-ball ice cream in a waffle cup"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img3-pos">
        <picture class="gallery__img-3">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic3.png   1x,
              /src/images/gallery/desktop/desktop_pic3@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic3.jpg   1x,
              /src/images/gallery/tablet/tablet_pic3@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic3.jpg   1x,
              /src/images/gallery/mobile/mobile_pic3@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic3.png"
            alt="raspberry ice cream on a stick"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img4-pos">
        <picture class="gallery__img-4">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic4.png   1x,
              /src/images/gallery/desktop/desktop_pic4@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic4.jpg   1x,
              /src/images/gallery/tablet/tablet_pic4@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic4.jpg   1x,
              /src/images/gallery/mobile/mobile_pic4@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic4.png"
            alt="assorted ice cream sprinkled with blueberries"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img5-pos">
        <picture class="gallery__img-5">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic5.png   1x,
              /src/images/gallery/desktop/desktop_pic5@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic5.jpg   1x,
              /src/images/gallery/tablet/tablet_pic5@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic5.jpg   1x,
              /src/images/gallery/mobile/mobile_pic5@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic5.png"
            alt="smiling girl with ice cream in hand"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img6-pos">
        <picture class="gallery__img-6">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic6.png   1x,
              /src/images/gallery/desktop/desktop_pic6@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic6.jpg   1x,
              /src/images/gallery/tablet/tablet_pic6@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic6.jpg   1x,
              /src/images/gallery/mobile/mobile_pic6@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic6.png"
            alt="ice cream in glass"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img7-pos">
        <picture class="gallery__img-7">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic7.png   1x,
              /src/images/gallery/desktop/desktop_pic7@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic7.jpg   1x,
              /src/images/gallery/tablet/tablet_pic7@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic7.jpg   1x,
              /src/images/gallery/mobile/mobile_pic7@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic7.png"
            alt="ice cream in the hands on the background of the city"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img8-pos">
        <picture class="gallery__img-8">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic8.png   1x,
              /src/images/gallery/desktop/desktop_pic8@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic8.jpg   1x,
              /src/images/gallery/tablet/tablet_pic8@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic8.jpg   1x,
              /src/images/gallery/mobile/mobile_pic8@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic8.png"
            alt="dog licks ice cream"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img9-pos">
        <picture class="gallery__img-9">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic9.png   1x,
              /src/images/gallery/desktop/desktop_pic9@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic9.jpg   1x,
              /src/images/gallery/tablet/tablet_pic9@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic9.jpg   1x,
              /src/images/gallery/mobile/mobile_pic9@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic9.png"
            alt="coffee ice cream in a glass"
          />
        </picture>
      </div>
    </a>
    <a class="gallery__link" href="">
      <div class="gallery__img10-pos">
        <picture class="gallery__img-10">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/gallery/desktop/desktop_pic10.png   1x,
              /src/images/gallery/desktop/desktop_pic10@2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tablet_pic10.jpg   1x,
              /src/images/gallery/tablet/tablet_pic10@2.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/gallery/mobile/mobile_pic10.jpg   1x,
              /src/images/gallery/mobile/mobile_pic10@2.jpg 2x
            "
          />
          <img
            src="/src/images/gallery/desktop/desktop_pic10.png"
            alt="beautiful ice cream on a yellow background"
          />
        </picture>
      </div>
    </a>
  </div>
</section>
