<header class="heder">
    <div class="container">
        <nav class="menu">
            <div class="logo">
                <a class="logo__link" href="#">
                    <img class="logo__icon" src="./images/header/header-logo.png" alt="Logo" width="200">
                </a>
            </div>

            <button 
                class="menu-button menu-button--open" 
                type="button" 
                aria-expanded="false"  
                aria-controls="menu-container"     
                js-open-modal
                >
                <svg width="22" height="12" aria-label="Переключатель мобильного меню">
                    <use class="icon-menu" href="./images/header/icons.svg#burger"></use>
                </svg> 
            </button>
            <div class="menu-container-desktop"> 
                <ul class="nav-desktop">   
                    <li class="nav-desktop__item"> 
                        <a class="nav-desktop__link"  href="#home">Home</a></li> 
                    <li class="nav-desktop__item">
                        <a class="nav-desktop__link"  href="#about">About us</a></li>
                    <li class="nav-desktop__item">
                        <a class="nav-desktop__link"  href="#how-its-made">How it’s made?</a></li>
                    <li class="nav-desktop__item"> 
                        <a class="nav-desktop__link" href="#our-product">Our products</a> </li>
                    <li class="nav-desktop__item">  
                        <a class="nav-desktop__link"  href="#contact">Contact</a></li> 
                </ul>
            </div>
            <button class="logo-button-tablet" type="button">Buy now <span class="logo-button__text">></span></button>
        
        <div class="menu-container js-menu-container" id="menu-container" > 
            <button 
                class="menu-button menu-button--close js-close-menu " 
                type="button" 
                aria-expanded="false"
                aria-controls="menu-container" 
                >
                <svg width="22" height="12" aria-label="Переключатель мобильного меню">
                    <use class="icon-menu" href="./images/header/icons.svg#cross"></use>
                </svg>
            </button> 
            
            <button class="logo-button" type="button">Buy now <span class="logo-button__text">></span></button>

            <ul class="nav"> 
                <li class="nav__item">
                    <a class="nav__link"  href="#home">Home</a></li> 
                <li class="nav__item">
                    <a class="nav__link"  href="#about">About us</a></li>
                <li class="nav__item">
                    <a class="nav__link"  href="#how-its-made">How it’s made?</a></li>
                <li class="nav__item">
                    <a class="nav__link" href="#our-product">Our products</a> </li>
                <li class="nav__item">
                    <a class="nav__link"  href="#contact">Contact</a></li> 
            </ul>
        </div>
        </nav>
    </div>
    
</header>
