<section class="hero section">
<div class="  container">
   <div class="wrap-hero">
      <h1 class="hero__title">ice cream
      <br>made with<br>
      <span class="hero__title-passion"> passion </span>
      </h1> 
       <div class="wrap-hero__buttons">
     <button class=" product-button" type="button">Products</button>  
      <button class="made-button" type="button" >How it’s made?</button>       
        </div>  
        
  
   </div>    
  <div class="wrap-text">    
   <p   class="hero__text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor<br> incididunt ut
   labore et</p>   
      <button type="button" class="hero-favicon"></button>   
</div> 

   <picture>
        
      <source srcset='/src/images/hero/mobile-ice-cream1x.png 1x , /src/images/hero/mobile-ice-cream@2x.png 2x' media="(max-width:767px)"/> 
      
      <!-- <source srcset='/src/images/hero/tablet-ice-cream1x.png 1x , /src/images/hero/tablet-ice-cream@2x.png 2x'
         media="(min-width:768px)" />  -->

      <img class="mobile-ice-cream"
       src="/src/images/hero/mobile-ice-cream.png" alt="ice-cream" />
   </picture>  
   <picture>

   <source srcset='/src/images/hero/mobile-Ellipse1x.png 1x , /src/images/hero/mobile-Ellipse@2x.png 2x'
      media="(max-width:767px)" />

      <img class="mobile-ellipse"  src="/src/images/hero/mobile-Ellipse.png" alt="ellipce"/> 
     
   </picture> 

<div>
   <picture>  
      <img class="tablet-milk" src="/src/images/hero/tablet-milk.png" alt="a jug of milk">
   </picture>    
   <picture>     
      <img class="tablet-ice-cream" src="/src/images/hero/tablet-ice-cream.png" alt="ice-cream">   
   </picture>        
  
   <picture> 
      <img class="tablet-girl" src="/src/images/hero/tablet-girl.png" alt="girl link ice-cream">   
   </picture>   
   <picture> 

<source srcset='/src/images/hero/tablet-Ellipse1x.png 1x , /src/images/hero/tablet-Ellipse@2x.png 2x'
   media="(min-width:768px)" />

      <img class="tablet-ellipse" src="/src/images/hero/tablet-Ellipse.png" alt="ellipse">  
   </picture>  
   </div> 
   
</div>  
</section> 