<section class="section">
    <container class="container products">
        <span class="products__label">100% natural</span>
        <h2 class="products__header">products</h2>
        <ul class="product-items">
            <li class="product-item item-first">
                <h3 class="product-item__header first-header">ice cream</h3>
                <p class="product-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product-item__button" data-menu-button></button>
                <div class="overlay" data-menu>
                    <p class="overlay__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto totam tempora quod vel. Recusandae perferendis dicta iste quidem necessitatibus, dolores, iusto cum saepe sunt fugiat et maiores quia autem sapiente.
                    Fugit suscipit labore amet ratione sequi dolor. Distinctio eum deleniti ea, iure animi provident quam veniam perspiciatis in. Quisquam enim ducimus porro, eius illo incidunt neque nemo soluta fuga asperiores.</p>
                </div>
            </li>
            <li class="product-item item-second">
                <h3 class="product-item__header second-header">ice coffee</h3>
                <p class="product-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product-item__button" data-menu-button></button>
                <div class="overlay" data-menu>
                    <p class="overlay__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto totam tempora quod vel. Recusandae perferendis dicta iste quidem necessitatibus, dolores, iusto cum saepe sunt fugiat et maiores quia autem sapiente.</p>
                </div>
            </li>
            <li class="product-item item-third">
                <h3 class="product-item__header third-header">milkshakes</h3>
                <p class="product-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product-item__button" data-menu-button></button>
                <div class="overlay" data-menu>
                    <p class="overlay__text">Fugit suscipit labore amet ratione sequi dolor. Distinctio eum deleniti ea, iure animi provident quam veniam perspiciatis in. Quisquam enim ducimus porro, eius illo incidunt neque nemo soluta fuga asperiores.</p>
                </div>
            </li>
        </div>
    </container>
</section>