// about section styles

.about {
    padding-bottom: 0;

    background-color: $about-bg-color;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        background-image: url('../images/about/bg.png');
        background-repeat: no-repeat;
        //background-size: contain;
        background-size: 100% 521px;
        background-position: left 0 bottom 0px;
    }

    @media screen and (min-width: 1600px) {
        background-image: url('../images/about/bg.png');
        background-repeat: no-repeat;
        //background-size: contain;
        background-size: 1600px 521px;
        background-position: center bottom 0px;

    }
}

.about__label {
    display: block;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 1.29;

    @include for-tablet-up-min {
        margin-bottom: 16px;

        font-size: 26px;
        line-height: 1.15;
    }

    @include for-desktop {
        font-size: 30px;
        line-height: 1.13;
    }

    text-align: center;
    text-transform: uppercase;

    color: $titan-title-small-color;
}

.about__title {
    margin-bottom: 32px;

    font-size: 34px;
    line-height: 1.15;

    @include for-tablet-up-min {
        margin-bottom: 40px;

        font-size: 48px;
        line-height: 1.15;
    }

    @include for-desktop {
        margin-bottom: 60px;

        font-size: 58px;
        line-height: 1.14;
    }

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $titan-title-big-color;
}

.about__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-tablet-up-min {
        flex-direction: row;
        align-items: flex-start;
    }

    @include for-desktop {
        padding-bottom: 20px;
    }
}

.content__left-box {

    @media screen and (min-width: 320px) {
        width: 280px;
    }

    @include for-tablet-up-min {
        width: 336px;
    }

    @include for-desktop {
        width: 501px;
    }
}

.content__right-box {
    padding-top: 40px;


    @include for-phone-up {
        padding-right: 60px;

        background-image: url('../images/about/bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        //background-position: left 0 top 110px;
        background-position: 0 45%;
    }

    @include for-tablet-up-min {
        width: 334px;
        padding-top: 0;
        margin-left: 32px;
    }

    @include for-desktop {
        width: 463px;
        padding-top: 90px;
        margin-left: 99px;
    }

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
}

.content__text {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 162%;

    color: $grey-text;

    @include for-tablet-up-min {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 176%;
    }

    @include for-desktop {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 194%;
    }

    &--bold {
        margin-bottom: 20px;

        font-size: 12px;
        line-height: 162%;

        color: $bleak-text;

        @include for-tablet-up-min {
            margin-bottom: 22px;
            font-size: 14px;
            line-height: 176%;
        }

        @include for-desktop {
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 176%;
        }
    }
}

.content__button {
    display: inline-flex;
    align-items: center;
    padding: 0 37px;
    height: 44px;

    background-color: $main-white-color;
    border-radius: 22px;
    border: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: $titan-title-big-color;

    @include for-tablet-up-min {
        font-size: 16px;
        line-height: 1.31;
    }

    &:hover {
        background-color: $btn-hover-color;
    }
}

.content__button-pic {
    margin-left: 13px;
    width: 8px;
    height: 10px;
     stroke: currentColor;
    //  fill: currentColor;
}