.advantages {
  background-color: $about-bg-color;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__item1::before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 50px;
    background-size: contain;
    margin-bottom: 16px;
    background-image: url('/src/images/advantages/advantages-icon1.png');

    @include for-phone-up {
      width: 33px;
      background-image: url('/src/images/advantages/advantages-icon1-mobile.png');
      @include retina {
        &__item1::before {
          background-image: url('/src/images/advantages/advantages-icon1@x2-mobile.png');
        }
      }
    }
    @include retina {
      &__item1::before {
        background-image: url('/src/images/advantages/advantages-icon1@x2.png');
      }
    }
  }

  &__item2::before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 50px;
    background-size: contain;
    margin-bottom: 16px;
    background-image: url('/src/images/advantages/advantages-icon2.png');
  }
  @include retina {
    &__item2::before {
      background-image: url('/src/images/advantages/advantages-icon2@x2.png');
    }
  }

  &__item3::before {
    display: inline-block;
    content: '';
    width: 44px;
    height: 50px;
    background-size: contain;
    margin-bottom: 16px;
    background-image: url('/src/images/advantages/advantages-icon3.png');
  }
  @include retina {
    &__item3::before {
      background-image: url('/src/images/advantages/advantages-icon3@x2.png');
    }
  }

  &__span {
    font-family: 'Titan One';

    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 25px;

    color: $titan-title-big-color;
  }

  &__text {
    font-family: 'DM Sans';
    width: 230px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 0;

    color: $bleak-text;
  }
}
