.container {}
    

.visually-hidden {}

.contacts__section{
   background-image: linear-gradient($main-white-color 21%, #fff5f6 21%);
} 
.contacts{ 

&__card--list {
   @include for-tablet-up-min {
display: flex;
justify-content: space-between;
    }
 

}

&__card--item {
    max-width: 280px;
    min-height: 412px;
    background: $main-white-color;
    border-radius: 24px;
    padding: 40px 32px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 30px hsla(345, 83%, 45%, 0.1);
    
        transition-property: transform;
        transition-duration: 250ms;
         
        &:hover {
            box-shadow: 0px 16px 50px hsla(345, 83%, 45%, 0.2);
    
            transform: scale(1.03);
        }



    @include for-tablet-up-min{
    width: 224px;
    min-height: 528px;
    margin-bottom: 60px;
    margin-right: 32px;
    margin-left: auto;
    }
    @include for-desktop {
    padding: 40px 40px;
    width: 368px;
    min-height: 538px;
    }
}

&__card--title {
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.04em;
        width: 80px;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: $second-card-bg-color;   
        color: $main-white-color;
    @include for-tablet-up-min{
        width: 74px;
        border-radius: 6px;
        font-size: 16px;
        }
    @include for-desktop{
        width: 76px;
        }
}

&__card--second{
    background-color: $third-card-bg-color;
    width: 130px;
    }
    @include for-tablet-up-min{
        width: 138px;
        border-radius: 6px;
        font-size: 16px;
    }

&__card--location {
    border-bottom: solid 1px $customer-reviews-underline-color;
    margin-bottom: 24px;
}

&__card--citi{
    font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        letter-spacing: 0.04em;
        color: $bleak-text;
        margin-top: 0;
        margin-bottom: 8px;
    @include for-tablet-up-min {
        font-size: 14px;
        }
    @include for-desktop {
        font-size: 16px;
    }

}

&__card--description{
    font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: calc(18 / 12);
        color: $grey-text;
        margin-top: 0px;
        margin-bottom: 24;
    @include for-tablet-up-min {
        font-size: 14px;
        line-height: 166%;
    }
    @include for-desktop {
        font-size: 16px;
        line-height: 183%;
        letter-spacing: 0.04em;
    }
}

&__card--shedule {
    
        margin-bottom: 24px;

&-list {
    

}

&-day {
    font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        color: $bleak-text;
            @include for-tablet-up-min{
                font-size: 14px;
            }
                @include for-desktop{
                    font-size: 16px;
                    letter-spacing: 0.04em;
                }

}

&-time {
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        color: $titan-title-small-color;
        margin-bottom: 8px;
            @include for-tablet-up-min {
                font-size: 14px;
            }
                @include for-desktop {
                    font-size: 16px;
                    letter-spacing: 0.04em;
                        }

}
}


&__card--contact {
    border-top: solid 1px $customer-reviews-underline-color;
    padding-top: 24px;
    
    &-list {
        
    }
    
    &-tel {font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: calc(18 / 12);
        color: $grey-text;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus{
            color: $titan-title-small-color;
        }
        @include for-tablet-up-min{
            font-size: 14px;
            line-height: 183%;
        }
                 @include for-desktop {
                     font-size: 16px;
                 }
                }
    
    &-mail {font-family: 'DM Sans';
        
        font-weight: 500;
        font-size: 12px;
        line-height: calc(18 / 12);
        color: $grey-text;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                color: $titan-title-small-color;
            }
            @include for-tablet-up-min {
            font-size: 14px;
            line-height: 183%;
                         }
                    @include for-desktop {
                        font-size: 16px;
                        }
    }
   
}

&__button{
    @include for-tablet-up-min{
        display: flex;
        justify-content: center;
       
    }

&--location{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    height: 44px;
    min-width: 162px;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: $main-white-color;
        background: #D41342;
        transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);
        
    &:hover, &:focus{
        color: #D41342;
        background: $main-white-color;
        }

    @include for-tablet-up-min {
        margin: 0 7px 0 0;
        min-width: 192px;
        }
    @include for-desktop {
        margin: 0 6px 0 0;
        min-width: 198px;
        }


}
&--franchise{
    margin-right: auto;
        margin-left: auto;
    height: 44px;
    min-width: 162px;
    border-radius: 22px;
    font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: calc(21 / 16);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: $titan-title-big-color;
        background: $main-white-color;
        transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

    &:hover, &:focus {
            color: $main-white-color;
            background: $titan-title-big-color;
        }

    @include for-tablet-up-min {
        margin: 0 0 0 7px;
            min-width: 174px;
            
        }
    
    @include for-desktop {
            min-width: 168px;
            margin: 0 0 0 6px;
        }
        

}
    &--icon{
        width: 10px;
        height: 12px;
        margin-left: 8px;

        @include for-tablet-up-min {

        }
       }
    @include for-tablet-up-min {
        padding-bottom: 40px;
    }
    @include for-desktop {
            padding-bottom: 120px;
        }
}

}
.contact__backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
    
    &.is-hidden{
    opacity: 0;
    pointer-events: none; 

    }
}
.contact__modal{
    position: absolute;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    min-width: 600px;
    height: 100%;
    padding: 15px;
    background-color: $titan-title-small-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include for-tablet-up-min {
        height: 400px;
    } 
    &--text{
            font-family: 'DM Sans';
                font-weight: 500;
                font-size: 12px;
                line-height: calc(18 / 12);
                color: $grey-text;
                text-aline: center; 

                    @include for-tablet-up-min {
                    font-size: 14px;
                    line-height: 166%;
                }
            
                    @include for-desktop {
                    font-size: 16px;
                    line-height: 183%;
                    letter-spacing: 0.04em;
                }
        }
    &--close{
        position: absolute;
            top: 15px;
            right: 15px;
            width: 30px;
            height: 30px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        border-radius: 50%;
        // background-color: $titan-title-small-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        cursor: pointer;
        transition: border 250ms cubic-bezier(.4, 0, .2, 1);
         &:hover, &:focus {
            border: 1px solid $titan-title-big-color;

         }
        &:hover .contact__modal--icon,
        &:focus .contact__modal--icon,{
        fill: $titan-title-big-color;

        } 
        
        
    }
    &--icon{
        transition: fill 250ms cubic-bezier(.4, 0, .2, 1);
        }       
}
// .modal-close-btn {
//     position: absolute;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     top: 8px;
//     right: 8px;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     background-color: transparent;
//     padding: 0;
//     cursor: pointer;
//     -webkit-transition: border var(--transition);
//     transition: border var(--transition);
// }

// .modal-close-btn:hover,
// .modal-close-btn:focus {
//     border: 1px solid var(--accent-color);
// }

// .modal-close-icon {
//     -webkit-transition: fill var(--transition);
//     transition: fill var(--transition);
// }

// .modal-close-btn:hover .modal-close-icon,
// .modal-close-btn:focus .modal-close-icon {
//     fill: var(--accent-color);
// }