.heder{
    position: relative;

    // Цвет   бг пока временно
    background: $lite-pink-bg-color; 
    
}

.menu{

    display: flex;
    @include for-phone-up{
        justify-content: space-between;
    }
    
}
.logo {
    margin-top: 10px;

    @include for-tablet-up{
        margin-top: 32px;
    }
    @include for-desktop {
        margin-top: 37px;
        margin-right: 128px;
    }
}
.nav {
    // display: flex;
    
    &__item{
        display: flex;
        align-items: center;
        height: 42px;
        border: 1px solid #E18298;
        // margin-bottom: 22px;
    }
    &__link{
        @include nav__link{
            transition:250ms ease-in-out;
            padding-left: 20px;
        }
        
    }
    &__link:hover,
    &__link:focus{
        color: $titan-title-big-color; 
        transition:250ms ease-in-out;
    }

}

.nav-desktop{
    display: flex;
    gap: 35px;
    &__link{
        @include nav__link{
        transition:250ms ease-in-out;
        }
    }
    &__link:hover,
    &__link:focus{
        color: $titan-title-big-color; 
        transition:250ms ease-in-out;
    }
}

.logo-button{
  @include logo-button{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  } 
}

.logo-button-tablet{
    @include logo-button {
        display: none;

        @include for-tablet-up {
            display: block;
            // position: absolute;
            // top:32px;
            // right: 32px ;
            margin-top: 32px;
            margin-left: 32px;
            width: 160px;
        }
        @include for-desktop{
            display: block;
            width: 160px;
            margin-left: 120px;
            margin-top: 40px;
        }
    }
}

.menu-container{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e17992 ;
    padding-top: 60px;
    z-index: 90;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));;

    @include for-tablet-up {
        width: 254px;
        // height: 1020px;
        height: 100vh;
    }
    @include for-desktop{
        display: none;
    }
    // &.is-open{
    //     transform: translateX(0);
    // }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container-desktop{
   z-index: 70;
    margin-top: 52px;
    @include for-tablet-up{
        display: none;
    }
    @include for-phone-up{ 
        display: none;
    }
}

.menu-button{
    display: inline-flex;
    padding: 0;
    border: none;
    cursor: pointer;
    max-width: 22px;
    max-height: 12px;
    
    &--open{
        background: $lite-pink-bg-color;
        margin-top: 25px;

        @include for-tablet-up {
            // position: absolute;
            // top: 46;
            // right: 224;
            z-index: 80;
            margin-top: 48px;
            margin-left: 293px;
        }
    }
    &--close{
        position: absolute;
        top: 25;
        right: 20;
        background-color: #e17992;
    }

    @include for-desktop{
        display: none;
    }
}


.menu-button .icon-cross {
    display: none;
}
.menu-button.is-hidden .icon-cross{
    display: block;
}
.menu-button.is-hidden .icon-menu {
    display: none;
}


