.hero {

   background-color:$lite-pink-bg-color ;
   @include for-phone-up{ height:448px;}
   @include for-tablet-up{ height:338px;
   padding: 20px 20px;}
   @include for-desktop{ height:581px };


 &__container{
   position: relative;
 }
   &__title{
      z-index: 99;
      font-size: 26px;
      line-height: 1.07;
      font-weight: 400;
      font-family: 'Titan One';
      color:$main-white-color;
      margin-bottom: 20px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      @include for-tablet-up{
         font-size:22px ;
      }
      @include for-desktop{
         font-size:38px ;
      }
   }
      &__title-passion{
         font-size: 48px;
         color:$titan-title-big-color ;
         @include for-tablet-up {
               font-size:34px ;
            }
         
            @include for-desktop {
               font-size: 58px;
            }

      }

     &__text{
      position: absolute;
      color: $main-white-color;
      z-index: 99;
      bottom:-125% ;
      left: 25.2%;
      
      @include for-phone-up{
         display: none;
      }
      @include for-tablet-up{
         font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 1.1;
            margin-bottom: 7px;
           
         
      }

     } 
}

.wrap-hero-buttons{
   // position: absolute;
   // z-index: 9;
   position: absolute;
   z-index: 999;
}

.product-button {
   margin-right: 4px;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   padding: 8px 16px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   color: $main-white-color;
   background-color: $titan-title-big-color ;

   @include for-desktop {
      font-size: 14px;
      line-height: 1.28;
      padding: 11px 23px;

   }
}

.made-button {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.25;
   padding: 8px 16px;
   border-radius: 20px;
   border: none;
   background-color: $main-white-color ;
   color: $titan-title-big-color;

   @include for-desktop {
      font-size: 14px;
      line-height: 1.28;
      padding: 11px 23px;
   }
}

.wrap__hero {


   @include for-tablet-up {
      width: 162px;
      margin-top: 0;
   }

   @include for-desktop {
      width: 277px;
      margin-top: 0;
   }

   margin-top: 90px;
   display: flex;
   flex-direction: column;

 width: 218px;


}

.thumb-numb{
  position: absolute;
  left: 90%;
 @include for-desktop{
   display: none;
 }
 @include for-phone-up {
    display: none;
 }
 
   &__numbers{  
   font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $titan-title-big-color;
      
   }

   &__text{
     margin: 0;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.1;
      text-align: right;
      color: $main-white-color;
      
   }
   &__text-cafes{
      margin-bottom: 17px;
      margin-right: 10px;
font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 8px;
   line-height: 1.1;
   text-align: right;
   color: $main-white-color;

   }}



// .wrap-text{
//    @include for-tablet-up{
//       margin: 61px 0 0 152px;
//    }
// }

.hero-favicon {

   @include for-phone-up {
      display: none;
   }

   @include for-tablet-up {
      width: 18px;
      height: 18px;
      border-radius: 50%;
   }
position: absolute;
bottom: -146%;
left: 25.2%;
}



.mobile-ice-cream {
   
   @include for-tablet-up-min{
display: none;
   }
position: absolute;
z-index: 9;
top:-88.5%;
left: 35%;

}
.mobile-ellipse{
  
   @include for-tablet-up-min {
display: none;
   }
   position: absolute;
   top: -77.5%;
   left: 11%;
   
}

.tablet-milk{
   @include for-phone-up{
      display: none;
   }
   @include for-desktop{
      display: none;
      
   }
   //    position: absolute;
   //   top: 115%;
   position: absolute;
   top: 145%;
}

.tablet-girl{
@include for-phone-up {
      display: none;
   }

   @include for-desktop {
      display: none;

   }
   position: absolute;
   bottom: -214px;
   left: 73%;
   z-index: 999;
 
}
.tablet-ellipse{
@include for-phone-up {
      display: none;
   }

   @include for-desktop {
      display: none;

   }
   position: absolute;
   top:-50%;
   left: 33%;
}

.tablet-ice-cream{
@include for-phone-up {
      display: none;
   }

   @include for-desktop {
      display: none;

   }
   
   position: absolute;
   top:-18%;
   left: 41.5%;
   z-index: 999;
}